h1{
  font-family: ´  ,colibri, arial;
  font-size: 3rem;
}

p{
  width: 500px;
  position: relative;
  top: 20px;
  left: 50px;
  font-size: 1.5rem;
  text-align:justify; 
  line-height: 2rem;
  color: #00f;
  font-family: Verdana, Courier;
}

span{
  font-weight: bold;
  font-size: 2rem;
}

p: first-letter{
    font-size: 3.5rem;
    float: left;
    margin-top: 20px;
    margin-right: 10px;

}

fieldset{
  width: 400px;
  margin: 50px auto;
  background-color: #e6e6fa;
  font-size: 1rem;
  color: #000;
  border: solid 5px #f00;
  padding: 0px 20px;
}

legend{
  color: #fff;
  background-color: #f00;

}

ol{
  margin-left: 50px;
  line-height: 1.2rem;
}
table{
  font-size: 1rem;
  border: 2px solid #00f;
  margin: 20px auto;
  text-align: center;
  border-collapse: collapse;
}
td,th{
    border: 1px solid #00f;
}
th{
  width: 16%;
  padding: 1px;
  background-color: #add8e6;
  color: #a52a2a;
}
tr:nth-child(2n){
  color: #00f;

}

tr:nth-child(2n+1){
  background-color: #5ceb97;

}


figure img{
width: 100%;
  height: 500px;
  margin-bottom: 25px;
  background-repeat: no-repeat;